.rooms_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(100vh - 150px);
  margin-left: 20px;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: #dadce0 #ffffff;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #dadce0;
    border-radius: 3px;
  }

  &__button {
    margin-right: 20px;
    display: flex;
    justify-content: flex-start;
  }

  &__selected {
    color: #b5b3b3;
  }
}
